<div class="bg-blue-50 min-h-screen overflow-hidden min-w-screen align-items-center justify-content-center flex">
    <div class="align-items-center justify-content-center flex">
        <div class="border-round-3xl">
            <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
                <div class="mb-4">
                    <div class="text-900 text-xl font-bold mb-2">Log in</div>
                    <span class="text-600 font-medium">Please enter your details</span>
                </div>
                <form [formGroup]="formGroupLogin">
                    <div class="flex flex-column">
                        <div class="col-12 m-0 p-0 mb-4">
                            <span class="col-12 block pl-0 w-22rem">Email</span>
                            <input class="col-12" type="text" formControlName="email" name="email"
                                [ngClass]="{ 'ng-dirty': submit && f['email'].errors && f['email'].errors['required'] }"
                                placeholder="Email address" pInputText />
                            <div class="p-error" *ngIf="submit && f['email'].errors &&  f['email'].errors['required'] ">
                                Không được để trống giá trị</div>
                        </div>
                        <div class="col-12 m-0 p-0 mb-4">
                            <span class="col-12 block pl-0">Password</span>
                            <div class="col-12 p-0">
                                <p-password [toggleMask]="true" formControlName="password" [feedback]="false"
                                    styleClass="w-full" placeholder="Password" name="password"
                                    [ngClass]="{ 'ng-dirty': submit && f['password'].errors && f['password'].errors['required'] }"></p-password>
                                <div class="p-error"
                                    *ngIf="submit && f['password'].errors && f['password'].errors['required'] ">Không
                                    được để trống giá trị</div>
                            </div>
                        </div>
                        <div class="mb-4 flex flex-wrap gap-3">
                            <div>
                                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                                <label class="text-900 font-medium pl-1">Remember Me</label>
                            </div>
                            <a
                                class="text-600 cursor-pointer hover:text-primary cursor-pointer ml-auto transition-colors transition-duration-300">Reset
                                password</a>
                        </div>
                        <button type="submit" label="Log In" class="p-element w-full p-button p-component"
                            tabindex="0"><span class="p-button-label" (click)="login()">Log In</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>