<div class="grid col-12 m-0 p-0" style="margin-bottom: 48px !important;">
    <div class="col-12 p-0 " (click)="f($event)">
        <ul>
            <li class="root">
                <div class="col-12 p-0" routerLink="/dashboard">
                    <div class="menu">
                        <i class="pi pi-home cursor-pointer font-normal text-sm p-1"></i><span
                            class="font-semibold pl-1">Dashboard</span>
                    </div>
                </div>
            </li>
            <li class="root">
                <div class="col-12 p-0">
                    <div id="1" class="menu sub-btn">
                        <i id="1" class="pi pi-building cursor-pointer font-normal text-sm p-1"></i>
                        <span id="1" class="font-semibold pl-1">Toà nhà</span>
                        <i id="1" class="pi pi-chevron-right cursor-pointer font-normal text-sm p-2 dropdown"></i>
                    </div>
                    <ul id="1" class="col-12 sub-menu">
                        <li class="pl-2"><i
                                class="pi pi-building cursor-pointer font-normal text-xs p-2"></i><span>Tầng</span></li>
                        <li class="pl-2"><i
                                class="pi pi-list cursor-pointer font-normal text-xs p-2"></i><span>Phòng</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="root">
                <div class="col-12 p-0">
                    <div id="2" class="menu sub-btn">
                        <i id="2" class="pi pi-users cursor-pointer font-normal text-sm p-1"></i>
                        <span id="2" class="font-semibold pl-1">Cư dân</span>
                        <i id="2" class="pi pi-chevron-right cursor-pointer font-normal text-sm p-2 dropdown"></i>
                    </div>
                    <ul id="2" class="col-12 sub-menu">
                        <li class="pl-2">
                            <i class="pi pi-book cursor-pointer font-normal text-xs p-2"></i>
                            <span>Danh sách</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-bell cursor-pointer font-normal text-xs p-2"></i>
                            <span>Tin tức</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-car cursor-pointer font-normal text-xs p-2"></i><span>Phương tiện</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="root">
                <div class="col-12 p-0">
                    <div id="3" class="menu sub-btn">
                        <i id="3" class="pi pi-user cursor-pointer font-normal text-sm p-1"></i>
                        <span id="3" class="font-semibold pl-1">Nhân viên</span>
                        <i id="3" class="pi pi-chevron-right cursor-pointer font-normal text-sm p-2 dropdown"></i>
                    </div>
                    <ul id="3" class="col-12 sub-menu">
                        <li class="pl-2">
                            <i class="pi pi-calculator cursor-pointer font-normal text-xs p-2"></i>
                            <span>Bảng công</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-book cursor-pointer font-normal text-xs p-2"></i>
                            <span>Danh sách</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-calendar cursor-pointer font-normal text-xs p-2"></i>
                            <span>Lịch làm việc</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-car cursor-pointer font-normal text-xs p-2"></i><span>Phương tiện</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="root">
                <div class="col-12 p-0">
                    <div id="4" class="menu sub-btn">
                        <i id="4" class="pi pi-inbox cursor-pointer font-normal text-sm p-1"></i>
                        <span id="4" class="font-semibold pl-1">Thiết bị</span>
                        <i id="4" class="pi pi-chevron-right cursor-pointer font-normal text-sm p-2 dropdown"></i>
                    </div>
                    <ul id="4" class="col-12 sub-menu">
                        <li class="pl-2">
                            <i class="pi pi-book cursor-pointer font-normal text-xs p-2"></i>
                            <span>Danh sách</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="root">
                <div class="col-12 p-0">
                    <div id="5" class="menu sub-btn">
                        <i id="5" class="pi pi-book cursor-pointer font-normal text-sm p-1"></i>
                        <span id="5" class="font-semibold pl-1">Hợp đồng</span>
                        <i id="5" class="pi pi-chevron-right cursor-pointer font-normal text-sm p-2 dropdown"></i>
                    </div>
                    <ul id="5" class="col-12 sub-menu">
                        <li class="pl-2">
                            <i class="pi pi-user cursor-pointer font-normal text-xs p-2"></i>
                            <span>Cá nhân</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-users cursor-pointer font-normal text-xs p-2"></i>
                            <span>Doanh nghiệp</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="root">
                <div class="col-12 p-0">
                    <div id="6" class="menu sub-btn">
                        <i id="6" class="pi pi-server cursor-pointer font-normal text-sm p-1"></i>
                        <span id="6" class="font-semibold pl-1">Hệ thống</span>
                        <i id="6" class="pi pi-chevron-right cursor-pointer font-normal text-sm p-2 dropdown"></i>
                    </div>
                    <ul id="6" class="col-12 sub-menu">
                        <li class="pl-2">
                            <i class="pi pi-sitemap cursor-pointer font-normal text-xs p-2"></i>
                            <span>Phân quyền</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-home cursor-pointer font-normal text-xs p-2"></i>
                            <span>Công ty</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-id-card cursor-pointer font-normal text-xs p-2"></i>
                            <span>Quản trị viên</span>
                        </li>
                        <li class="pl-2">
                            <i class="pi pi-dollar cursor-pointer font-normal text-xs p-2"></i>
                            <span>Giá bán</span>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="root">
                <div class="col-12 p-0">
                    <div class="menu">
                        <i class="pi pi-cog cursor-pointer font-normal text-sm p-1"></i><span
                            class="font-semibold pl-1">Cấu
                            hình</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>