html,
body {
    height: 100%;
    margin: 0;
    font-family: Poppins, sans-serif;
}

canvas {
    display: unset !important;
}

.p-error {
    color: red;
    font-size: 14px;
    padding-top: 2px;
}